# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.new

# Datenbank
*.db
*.sqlite
*.sqlite3

# Umgebung
.env
.venv/
venv/

# Betriebssystem
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# ZIP Releases
*.zip
